@use "sass:map";
@use "sass:math";
@import "node_modules/bootstrap/scss/bootstrap";

$palettes: (
        base: (
                "black": #000,
                "grey-1": #222,
                "grey-2": #444,
                "grey-3": #888,
                "grey-4": #ccc,
                "white": #fff
        ),
        brand: (
                "blue": #201e5c,
                "gold": #f7d116,
                "l-blue": #8280fe,
                "l-gold": #f7edba,
                "d-blue": #090829,
                "d-gold": #3f3c2f,
        ),
        rainbow: (
                "red":#f72116,
                "orange":#f78f16,
                "yellow":#f7d316,
                "green":#589c2b,
                "blue":#4646a2,
                "purple":#6c1a86
        ),
        skule: (
                "black": #0a0a0a,
                "white": #FFF,
                "blue": #59a1c6,
                "gold": #ffec8e,
                "purple": #8372bb,
                "green": #68ba98,
                "teal": #5da7a7,
                "orange": #ffcf8e,
                "red": #ff8e8e
        )
);
@function palette($palette: base, $tone: 'black') {
  @return map-get(map-get($palettes, $palette), $tone);
}
@each $color, $val in map-get($palettes,brand) {
  .bg-#{$color} {
    background-color: $val;
  }
  .text-#{$color} {
    color: $val;
  }
  .border-#{$color} {
    border-color: $val !important;
  }
}
@each $dir in "top" "right" "bottom" "left" {
  .border-#{$dir}-dashed {
    border-#{$dir}: 1px dashed;
  }
}
@each $len in 6 7 8 9 10 11 12 {
  .pt-#{$len} {
    padding-top: #{$len*0.5+0.5}rem;
  }
  .pb-#{$len} {
    padding-bottom: #{$len*0.5+0.5}rem;
  }
  .mt-#{$len} {
    margin-top: #{$len*0.5+0.5}rem;
  }
  .mt-n#{$len} {
    margin-top: -#{$len*0.5+0.5}rem;
  }
  .mb-#{$len} {
    margin-bottom: #{$len*0.5+0.5}rem;
  }
  .mb-n#{$len} {
    margin-bottom: -#{$len*0.5+0.5}rem;
  }
}

$section-height: 50rem;

.bg-offblue {
  background-color: #201e50;
}

html, body {
  margin:0;
  padding:0;
  scroll-behavior: smooth
}

.nav-link {
  color: palette(brand, "l-blue") !important;
  &:hover {
    color: palette(brand,"l-gold") !important;
  }
  .active > & {
    color: palette(base,"white") !important;
  }
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

.logo {
  height: 40vh;
}
@include media-breakpoint-up(md) {
  .logo {
    height: 20vh;
  }
}

.title-container {
  @extend .container-fluid;
  margin: 30vh 0 0;
}

body > section {
  height: $section-height;
  &:first-of-type {
    height:120vh;
  }
}

.pt-6 {
  padding-top: 3.5rem !important;
}

.mt-6 {
  margin-top: 3.5rem !important;
}

.nav-border {
  margin: 0 -15px;
  border-width: 1px;
  pointer-events: none;
}
.section-body {
  height: #{$section-height - 3.5rem};
}
.v-line {
  @extend .section-body;
  pointer-events: none;
}
.footer {
  height:3em;
}