@use "sass:map";
@use "sass:math";
@import "node_modules/bootstrap/scss/bootstrap";

$palettes: (
        base: (
                "black": #000,
                "grey-1": #222,
                "grey-2": #444,
                "grey-3": #888,
                "grey-4": #ccc,
                "white": #fff,
                "alice-blue": #E5ECF4,
                "lav-blue": #C3BEF7,
                "slate-blue": #8A4FFF
        ),
        brand: (
                "blue": #201e5c, //#26235e
                "gold": #f7d116,
                "l-blue": #A5A3E1,
                "l-gold": #FDF3C4,
                "m-blue": #4B4799,
                "m-gold": #FAE475,
                "d-blue": #100F2E,
                "d-gold": #625104,
        ),
        rainbow: (
                "red":#f72116,
                "orange":#f78f16,
                "yellow":#f7d316,
                "green":#589c2b,
                "blue":#4646a2,
                "purple":#6c1a86
        ),
        skule: (
                "black": #0a0a0a,
                "white": #FFF,
                "blue": #59a1c6,
                "gold": #ffec8e,
                "purple": #8372bb,
                "green": #68ba98,
                "teal": #5da7a7,
                "orange": #ffcf8e,
                "red": #ff8e8e
        )
);
@function palette($palette: base, $tone: 'black') {
  @return map-get(map-get($palettes, $palette), $tone);
}
@each $color, $val in map-get($palettes,brand) {
  .bg-#{$color} {
    background-color: $val !important;
  }
  .text-#{$color} {
    color: $val !important;
  }
  .border-#{$color} {
    border-color: $val !important;
  }
}
@each $dir in "top" "right" "bottom" "left" {
  .border-#{$dir}-dashed {
    border-#{$dir}: 1px dashed;
  }
}
@each $len in 6 7 8 9 10 11 12 {
  .pt-#{$len} {
    padding-top: #{$len*0.5+0.5}rem;
  }
  .pb-#{$len} {
    padding-bottom: #{$len*0.5+0.5}rem;
  }
  .mt-#{$len} {
    margin-top: #{$len*0.5+0.5}rem;
  }
  .mt-n#{$len} {
    margin-top: -#{$len*0.5+0.5}rem;
  }
  .mb-#{$len} {
    margin-bottom: #{$len*0.5+0.5}rem;
  }
  .mb-n#{$len} {
    margin-bottom: -#{$len*0.5+0.5}rem;
  }
}
a,p,span {
  font-size:large;
}

$section-height: 50rem;

.bg-offblue {
  background-color: #201e50;
}

html, body {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

.nav-link {
  color: palette(brand, "l-blue") !important;
  transition: color 0.5s ease-in-out;
  &:hover {
    color: palette(brand,"l-gold") !important;
  }
  .active > & {
    color: palette(brand,"gold") !important;
  }
}

h1,h2,h3,p,a,span {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
  @include media-breakpoint-down(lg) {
    font-size: large;
  }
}
@include media-breakpoint-down(sm) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
}

.bg-l-gold a:not([class]), .bg-gold a:not([class]) {
  @extend .text-l-blue;
}

.bg-l-blue a:not([class]), .bg-blue a:not([class]) {
  @extend .text-gold;
}

// maybe make this md-up only
.bg-img-index {
  background-color: palette(brand,"blue");
  @include media-breakpoint-up(md) {
    background-image: url("img-index.png");
    object-fit: cover;
  }
}
.bg-tools {
  background-image: url("img-tools.png");
  background-repeat: repeat-y;
}

.logo {
  height: 30vh;
}
@include media-breakpoint-up(md) {
  .logo {
    height: 20vh;
  }
}

.logo-contact {
  height: 18vh;
}
@include media-breakpoint-down(sm) {
  .logo-contact {
    display: none;
  }
}

.title-container {
  @extend .container-fluid;
  margin: 30vh 0 0;
}
@include media-breakpoint-down(sm) {
  .title-container {
    margin: 4.5em 0 0;
  }
}

body > section {
  height:100%;
  &:first-of-type {
    height:120vh;
  }
}
.section-body {
  overflow:hidden;
  position: relative;
}
@include media-breakpoint-down(md) {
  body > section {
    overflow-x: hidden;
    height: 100%;
    &:first-of-type {
      min-height:50vh;
      height: unset !important;
    }
  }
  .section-body {
    height: 100%;
  }
}
:target::before {
  margin-top:-4em;
}
@include media-breakpoint-down(sm) {
  :target {
    padding-top:3.5em;
    margin-top:-3.5em;
  }
}

.pt-6 {
  padding-top: 3.5rem !important;
}

.mt-6 {
  margin-top: 3.5rem !important;
}

@include media-breakpoint-down(sm) {
  .nav-logo {
    border-right: 0 !important;
  }
}
.nav-border {
  display:none;
  margin: 0 -15px;
  border-width: 1px;
  pointer-events: none;
  z-index: 1000;
  padding-top: 3.69em;
}
@include media-breakpoint-up(lg) {
  .nav-border {
    display: block;
  }
}
.v-line {
  height:100%;
  max-height: 100%;
  pointer-events: none;
}
.footer {
  height:3em;
  &.position-fixed {
    bottom:0;
  }
}
span.contact-text i {
  font-size: xx-large;
  margin: 0.5rem;
  text-decoration: none !important;
  @extend .text-blue;
}
.signature-img {
  margin-top: -9.25em;
  z-index: 1;
  height: 300px;
  bottom:0;
  @media screen and (max-width: 1700px) {
    height: 200px;
    margin-top: -3em;
  }
  @include media-breakpoint-down(lg) {
    height: 100px;
    margin-top:0.5em;
  }
}
.signature h3 {
  white-space: nowrap;
  z-index: 2;
}
.about-job {
  text-indent: -1.5em;
  margin: 0 0 0 3em;
}
.about-body {
  z-index: 3;
  & + div img {
    z-index: 1;
  }
}
.faq-body,.faq-body-dusted {
  & a {
    @extend b;
    .faq-body {
      @extend .text-gold;
    }
    .faq-body-dusted {
      @extend .text-l-blue;
    }
  }
  & div {
    margin-bottom: 1em
  }
  @include media-breakpoint-down(sm) {
    & a {
      text-decoration: none;
    }
  }
}
.faq-hidden {
  @extend .d-md-none;
  @extend .d-block;
}
ul {
  list-style: none;
  padding:0;
}
ul li {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
ul.index-buttons .btn {
  @extend .mx-md-3;
  @extend .my-md-1;
}

li a {
  @include media-breakpoint-down(sm) {
    width:100%;
  }
}

.btn {
  display: block;
  -webkit-appearance: none;

  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size:large;
  min-width: 6em;
  @include media-breakpoint-down(sm) {
    &,&~.dropdown-menu {
      width: 100%;
      margin: 0.5em 0 !important;
    }
  }
  &-1 {
    @extend .text-gold;
    border: 2px dashed palette(brand,"gold");
    background-color:rgba(32,30,92,0.5) !important;

    &:hover {
      border: 2px solid palette(brand,"gold");
      color: palette(brand,"blue") !important;
      background-color: palette(brand,"gold") !important;
    }
    &.disabled {
      background-color: palette(base,"grey-2") !important;
      border: 2px solid palette(base,"grey-2") !important;
      color: palette(base,"grey-3") !important;
    }
  }
  &-2 {
    border: 2px solid palette(brand,"gold");
    @extend .text-blue;
    @extend .bg-gold;

    &:not(:focus):hover {
      border: 2px dashed palette(brand,"gold");
      background-color:rgba(32,30,92,0.5) !important;
      @extend .text-gold;
    }
    &.disabled {
      background-color: palette(base,"grey-2") !important;
      border: 2px solid palette(base,"grey-2") !important;

      & span {
        color: palette(base,"grey-3") !important;
        cursor:pointer !important;
      }
      &:hover {
        border: 2px dashed palette(rainbow,"red") !important;
        background-color: palette(skule,"red") !important;
        color: palette(rainbow,"red") !important;
        &::before {
          content: "Remove?";
          cursor:pointer !important;
        }
        & span {
          display: none;
        }
      }
    }
  }
  &-3 {
    border: 2px dashed white;
    color: white;

    &:hover,&:focus-within {
      border: 2px solid white;
      color: black;
      background-color: white;
      mix-blend-mode: screen;
    }
    &.disabled {
      background-color: palette(base,"grey-2") !important;
      border: 2px solid palette(base,"grey-2") !important;
      color: palette(base,"grey-3") !important;
      opacity:0.3;
    }
  }
  &-4 {
    border: 2px dashed palette(brand,"blue");
    color: palette(brand,"blue") !important;

    &:hover,&:focus-within {
      border: 2px solid palette(brand,"blue");
      color: palette(brand,"l-gold") !important;
      background-color: palette(brand,"blue");
    }
    &.disabled {
      background-color: palette(base,"grey-2") !important;
      border: 2px solid palette(base,"grey-2") !important;
      color: palette(base,"grey-3") !important;
      opacity:0.3;
    }
  }
}


.tools {
  margin-bottom:0;
  color: palette(brand,"blue");
  justify-content: space-evenly;
}
.tool-container {
  text-align: center;
  background-color:palette(base,"white");
  border-radius: 20px;
  display:inline-block;
}
.tool-container img {
  width: 200px;
}
.rainbow {
  @include media-breakpoint-up(lg) {
    background: linear-gradient(to right,
            palette(rainbow, "red") 10%,
            palette(skule, "orange") 26%,
            palette(skule, "yellow") 42%,
            palette(skule, "green") 58%,
            palette(skule, "blue") 74%,
            palette(skule, "purple") 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
      filter: brightness(200%);
    }
  }
  color: palette(brand,"l-blue");
  &:hover {
    color: palette(brand,"l-gold");
  }
}
a.button {
  text-decoration: none !important;
}
input.booking {
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  border: 2px solid palette(brand,"gold");
  vertical-align: middle;
  font-weight: bold;
  font-size: large;
  font-family: "Lato", sans-serif;
  background-color:rgba(32,30,92,0.5);
  color: palette(brand,"gold");
  transition: all 0.15s ease-in-out;

  &.disabled{
    opacity: 0.65;
    background-color: palette(base,"grey-2");
    color: palette(base,"grey-3");
    border-color: palette(base,"grey-2");
    &::placeholder {
      color:palette(base,"grey-3");
    }
  }
  &::placeholder {
    color:palette(brand,"gold");
  }
}

// form on dusted page starts

.dusted .form {
  & input {
    background: palette(brand,"d-blue");
    padding: 0.375rem 0.75rem;
    border: 2px palette(brand,"l-blue") dashed;
    border-radius: 0.25rem;
    font-size: large;
    font-weight: bold;
    @extend .text-l-blue;
    transition: all 0.5s ease-in-out;
    display:inline-block;
    vertical-align: middle;

    &::placeholder {
      @extend .text-m-blue;
      transition: all 0.25s ease-in-out;
    }
    &:focus {
      box-shadow: 0 0 6px palette(brand,"l-blue");
      border: 2px palette(brand,"l-blue") solid;

      &::placeholder {
        opacity: 0;
      }
    }
    &:not(:placeholder-shown) {
      @extend .text-d-blue;
      background: palette(brand,"m-blue");
      border: 2px palette(brand,"m-blue") solid;
    }
  }
  & .btn {
    display:inline-block;
    vertical-align: middle;
    &-1 {
      @extend .text-blue;
      border: 2px dashed palette(brand,"l-blue");
      background-color: palette(brand,"m-blue") !important;
      color: palette(brand,"l-blue") !important;

      &:hover {
        border: 2px solid palette(base,"white");
        color: palette(base,"white") !important;
        background-color: palette(brand,"l-blue") !important;
      }
      &.disabled {
        background-color: palette(base,"grey-2") !important;
        border: 2px solid palette(base,"grey-2") !important;
        color: palette(base,"grey-3") !important;
      }
    }
  }
}

.dusted .container-fluid.dusted-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(lg) {
    align-items: flex-start;
  }
}

// form on dusted page ends
.pride-wrapper {
  top:0;
  left:0;
  height: 93vh;
  transition: all 1.5s ease-out;
}
.bg-pride {
  transition: all 1.5s ease-out;
  height:150vh;
  z-index: -1;
  &-full {
    background:
      linear-gradient(
          palette(rainbow,"red") 3.5em, palette(rainbow,"red") 11em,
          palette(rainbow,"orange") 11em, palette(rainbow,"orange") 18.5em,
          palette(rainbow,"yellow") 18.5em, palette(rainbow,"yellow") 26em,
          palette(rainbow,"green") 26em, palette(rainbow,"green") 33.5em,
          palette(rainbow,"blue") 33.5em, palette(rainbow,"blue") 41em,
          palette(rainbow,"purple") 41em, palette(rainbow,"purple")
      );
  }
  top:100%;
  overflow:hidden;
  position:relative;
  &-0 {
    background:palette(rainbow,"red");
    top:0 !important;
  }
  &-1 {
    background:palette(rainbow,"orange");
  }
  &-2 {
    background:palette(rainbow,"yellow");
  }
  &-3 {
    background: palette(rainbow,"green");
  }
  &-4 {
    background:palette(rainbow,"blue");
  }
  &-5 {
    background:palette(rainbow,"purple");
  }
}

.slide-in {
  top:120px;
}

.pride {
  background-color: palette(rainbow,"purple");
  & .title-container {
    margin-top: 15vh;
  }

  & .section-start {
    @include media-breakpoint-only(xl) {
      margin-top: 210px
    }
    @include media-breakpoint-down(lg) {
      margin-top: 180px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 3em;
    }
  }

  & h3 {
    @include media-breakpoint-down(lg) {
      font-size: x-large;
    }
  }
  & h2:not(.header) {
    opacity: 0.8;
    transition: opacity 0.25s ease-in-out;
    &:hover {
      opacity: 1;
    }
    & a {
      text-decoration: inherit;
      color: inherit;
      font-size: inherit;
    }
  }
  & h2 span {
    font-size:inherit;
  }
}

.opacity-0 {
  opacity:0;
}

.init-hidden {
  transition: opacity 1s ease-in-out;
}

.gallery {
  display:flex;
  list-style: none;
  flex-wrap: wrap;
  padding:0;

  & li {
    height: 40vh;
    flex-grow:1;
    margin: 1em;
    transition: height 0.25s ease-out;
  }
  &::after {
    flex-grow: 10;
  }
}
@media (max-aspect-ratio: 1/1) {
  .gallery li {
    height: 30vw;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 576px) {
  .gallery {
    flex-direction: row;
  }

  .gallery li {
    height: auto;
    width: 100%;
  }

  .gallery img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
.gallery img {
  max-height: 100%;
  min-width:100%;
  object-fit:cover;
  object-position: top;
  vertical-align: bottom;
}
.gallery li:hover {
  @include media-breakpoint-up(md) {
    height: 41vh;
  }
}

.form--group {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
  margin: auto;
}
.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid palette(brand,"l-blue");
  outline: 0;
  font-size: 1.3rem;
  color: palette(brand,"gold");
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: palette(brand,"l-blue");
}

.form-field:focus {
  ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: palette(brand,"gold");
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-source: linear-gradient(to right,palette(brand,"gold"),palette(brand,"l-blue"));
  border-image-slice: 1;
}
.signup {
  & div.col-md-4 a {
    margin: 10px 0;
    color: palette(brand,"l-blue") !important;
    transition: color 0.5s ease-in-out;
    text-decoration: none !important;
    &:hover {
      color: palette(brand,"gold") !important;
    }
  }
  & div.col-lg-5.mt-12 {
    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }
  }
}

.events {
  & h2 {
    @include media-breakpoint-down(sm) {
      font-size:35px;
    }
  }
  & .title-container {
    background: url("img-index.png") 0 20%;
    margin-top:0;
    & .btn {
      font-size: x-large;
    }
  }
  & .text-grey {
    color: palette(base,"grey-3");
  }
  & .bedraces {
    @include media-breakpoint-up(md) {
      background: linear-gradient(to right,
        palette(skule, "purple"),
        transparentize(palette(skule, "purple"), 0.05),
        transparent), url('events/bedraces.jpg') right;
      background-size: cover;
    }
    background: palette(rainbow,"purple");
    color: palette(base,"white");
  }
  & .tools101 {
    @include media-breakpoint-up(md) {
      background: linear-gradient(to right,
        palette(skule, "green"),
        transparentize(palette(skule, "green"), 0.05),
        transparent), url('events/tools101.jpg') right;
    }
    background: palette(skule, "green");
  }
  & .remembrance {
    @include media-breakpoint-up(md) {
      background: linear-gradient(to right,
        palette(rainbow, "red"),
        transparentize(palette(rainbow, "red"), 0.05),
        transparent),
      url('events/remembrance.jpg');
      background-size: cover;
    }
    background: palette(rainbow,"red");
  }
  & .godivaweek {
    @include media-breakpoint-up(md) {
      background: linear-gradient(to right,
        palette(skule, "blue"),
        transparentize(palette(skule, "blue"), 0.05),
        transparent),
      url('events/godivaweek.jpg') right;
    }
    background: palette(skule,"blue");
    color: palette(skule,"gold");
    & .btn-1 {
        border: 2px dashed palette(skule,"gold");
        background-color: transparent !important;
        color: palette(skule,"gold") !important;

        &:hover {
          border-style: solid;
          color: palette(skule,"blue") !important;
          background-color: palette(skule,"gold") !important;
        }
        &.disabled {
          background-color: palette(base,"grey-2") !important;
          border: 2px solid palette(base,"grey-2") !important;
          color: palette(base,"grey-3") !important;
          opacity:0.3;
        }
      }
  }
  & .tools102 {
    @include media-breakpoint-up(md) {
      background: linear-gradient(to right,
        palette(skule, "teal"),
        transparentize(palette(skule, "teal"), 0.05),
        transparent),
      url('events/tools102.jpg') right;
      background-size: cover;
    }
    background: palette(skule,"teal");
  }
  & .elections {
    @include media-breakpoint-up(md) {
      background: linear-gradient(to right,
        palette(base, "grey-3"),
        transparentize(palette(base, "grey-3"), 0.05),
        transparent),
      url('events/elections.jpg') right;
    }
    background: palette(base,"grey-3");
  }
  & .dusted {
    @include media-breakpoint-up(md) {
      background: linear-gradient(to right,
        palette(brand, "blue"),
        transparentize(palette(brand, "blue"), 0.05),
        transparent),
      url('events/dusted.jpg') right;
      background-size: cover;
    }
    background: palette(brand,"blue");
    color: palette(brand,"l-blue");
    & .btn-3 {
        border: 2px dashed palette(brand,"l-blue");
        background-color: transparent !important;
        color: palette(brand,"l-blue") !important;

        &:hover {
          border-style: solid;
          color: palette(brand,"blue") !important;
          background-color: palette(brand,"l-blue") !important;
        }
      }
  }
  & .pride {
    @include media-breakpoint-up(md) {
      background: linear-gradient(to right,
        palette(skule, "red"),
        transparentize(palette(skule, "red"), 0.05),
        transparent),
      url('events/pride.jpg') right;
    }
    background: palette(skule,"red");
    & h2 {
      opacity:1;
    }
  }
  & a {
    display:inline-block;
    text-decoration: none;
  }
  & nav a {
    color: unset;
    text-decoration: none;
  }
}
